html, body { margin: 0; padding: 0; box-sizing:border-box; font-size: 16px; font-family: Helvetica, sans-serif; }

#container {
	height: 100vh;
	width: 100vw;
	background-image: url("https://source.unsplash.com/WLUHO9A_xik/1600x900");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1, h2, p {
	padding:0;
	margin: 0;
	line-height: 1.2;
}
h1 {
	font-size: 5em;
	text-transform: uppercase;
}
h2 {
	font-size: 3em;
	letter-spacing: .2em;
}
p {
	font: bold 2em Arial;
	background-color: rgba(lightblue, 0.5);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.item-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cloud, .temp, .loc {
	flex-grow: 1;
	border: 1px green solid;
}




